.post {
  background-color: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.post__header {
  display: flex;
  margin-bottom: 10px;
}

.post__info {
  margin-left: 10px;
}

.post__info > p {
  font-size: 12px;
  color: gray;
}

.post__body {
  overflow-wrap: anywhere;
  padding: 10px 0;
}

.post__info > h2 {
  font-size: 15px;
}

.posts__likes__comments {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: gray;
  padding: 0 30px 0 10px;
}

.posts__likes__comments > span {
  display: flex;
  align-items: center;
}

.posts__comments__span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.posts__likes__icon {
  object-fit: contain;
  color: white;
  padding: 5px;
  background-color: #0b77b7;
  border-radius: 50%;
  height: 10px !important;
  width: 10px !important;
  margin-right: 5px;
}

.post__buttons {
  display: flex;
  justify-content: space-evenly;
  border-top: 2px solid whitesmoke;
  margin-top: 5px;
}

.timestamp {
  position: absolute;
  right: 20px;
}
